[Unit]
Description={{service_name}}
Wants=network-online.target
After=network-online.target

[Service]
User={{ user_id }}
Group={{ group_id }}
Restart=always
RestartSec=2
StartLimitInterval=0
Type=simple
ExecStart={{ exec_command }} --web.listen-address="0.0.0.0:{{ prometheus_port }}"

[Install]
WantedBy=multi-user.target
